<div class="navbar-form nav navbar-nav navbar-right">
    <button (click)="loginGoogle()" *ngIf="(af.auth | async) === null" class="btn btn-primary">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i> Вход</button>
    <button (click)="loginGithub()" *ngIf="(af.auth | async) === null" class="btn btn-primary">
        <i class="fa fa-google fa-lg" aria-hidden="true"></i> Вход</button>
    <button (click)="logout()" *ngIf="(af.auth | async) !== null" class="btn btn-default">
        <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Выход</button>    
</div>